<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="id">
    <meta content="notranslate" name="google">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
    <link href="dist/css/vendor.min.css" rel="stylesheet">
    <link href="dist/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="cermati-row">
          <div class="cermati-col-xs-6 olx-logo text-left">
            <img src="dist/images/olx.png"> <span class="hidden-xs">cara tepat jual cepat</span>
          </div>
          <div class="cermati-col-xs-6 text-right">
            <img src="dist/images/powered%20by%20cermati.png">
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid secondary">
      <div class="container no-padding">
        <div class="cermati-row">
          <div class="cermati-col-xs-12 margin-bottom-30">
            <div class="cermati-row">
              <div class="cermati-col-lg-offset-1 cermati-col-lg-6 cermati-col-md-7 cermati-col-sm-7">
                <div class="calculator-form">
                  <div class="form-title">
                    Kalkulator Pinjaman
                    <i></i>
                  </div>

                  <div class="cermati-row">
                    <div class="cermati-col-xs-12 margin-top-20">
                      <div id="calculator-error-box" class="notification error hidden">
                        <div class="cermati-row">
                          <div class="cermati-col-xs-12 xs-text-center">
                            <span>ERROR !</span>
                            <p></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <form id="calculator-form">
                    <table>
                      <tr>
                        <td width="150">
                          <label for="price">Harga OTR</label>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" id="price" class="mask-money" name="price" />
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Down Payment</label>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="mask-money" name="downPayment" />
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="price">Merek</label>
                        </td>
                        <td>
                          <div class="form-group">
                            <select name="brand">
                              <option value=""> - Pilih Model Mobil -</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="price">Tahun</label>
                        </td>
                        <td>
                          <div class="form-group">
                            <input type="text" class="date-picker" name="year" data-accuracy="year" data-year-range="-08:+00" >
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="location">Wilayah</label>
                        </td>
                        <td>
                          <div class="form-group">
                            <select id="location" name="location">
                              <option value=""> - Pilih Wilayah -</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="price">Asuransi</label>
                        </td>
                        <td>
                          <div class="form-group">
                            <select name="insuranceType">
                              <option value="all">All Risk</option>
                              <option value="combination">Combination</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" align="right">
                          <input type="submit" value="Hitung" class="btn"/>
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>
              <div class="cermati-col-lg-4 cermati-col-md-5 cermati-col-sm-5 text-right hidden-xs">
                <img class="ads" src="dist/images/iklan.png">
              </div>
            </div>
          </div>

          <div class="spinner cermati-col-xs-12" id="simulation-loading">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>

          <div id="simulation-result" class="cermati-col-lg-12 cermati-col-xs-12 margin-bottom-30">
            <div class="content-title">
              Hasil Simulasi
            </div>
            <div class="table-container">
              <table id="simulation-table">
                <thead>
                  <tr>
                    <td>
                      Tenor
                    </td>
                    <td>1 Tahun</td>
                    <td>2 Tahun</td>
                    <td>3 Tahun</td>
                    <td>4 Tahun</td>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid margin-bottom-40">
      <div class="container no-padding">
        <div class="cermati-row">
          <div class="cermati-col-lg-12">
            <div class="tabs">
              <ul>
                <li><a href="#tab-ajukan">Ajukan Sekarang</a></li>
                <li><a href="#tab-persyaratan">Persyaratan</a></li>
                <li><a href="#tab-fitur">Fitur</a></li>
              </ul>

              <div id="tab-ajukan">
                <div id="error-box" class="notification error margin-bottom-20 hidden">
                  <div class="cermati-row">
                    <div class="cermati-col-xs-12 xs-text-center">
                      <span>ERROR !</span>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div id="discount-box" class="notification alert margin-bottom-20 hidden">
                  <div class="cermati-row">
                    <div class="cermati-col-md-7 cermati-col-sm-7 cermati-col-xs-12 xs-margin-bottom-20 xs-text-center">
                      <span>Dapatkan Potongan Harga Sebesar</span> <em>Rp 100.000</em>
                      <p>dengan mengisi lengkap formulir</p>
                    </div>
                    <div class="cermati-col-md-5 cermati-col-sm-5 cermati-col-xs-12 text-right xs-text-center">
                      <a class="btn" onclick="App.toggleCompleteForm()">Isi form lengkap</a>
                    </div>
                  </div>
                </div>
                <div id="form-container" class="form-container margin-bottom-30">
                  <form id="apply-form" role="form">
                    <div class="form-title">
                      Formulir Aplikasi Pembiayaan
                    </div>
                    <div class="form-content">
                      <div class="cermati-row">
                        <div class="cermati-col-lg-offset-2 cermati-col-md-offset-1 cermati-col-lg-8 cermati-col-md-10 cermati-col-sm-12">
                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Nama Lengkap
                              <span>* sesuai identitas</span>
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="text" name="name" id="name">
                              <div class="validation-error hidden">
                                Input nama tidak valid
                              </div>
                            </div>
                          </div>

                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Email
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="email" name="email" id="email">
                              <div class="validation-error hidden">
                                Input email tidak valid
                              </div>
                            </div>
                          </div>

                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Kota
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="text" name="city" id="city">
                              <div class="validation-error hidden">
                                Input kota tidak valid
                              </div>
                            </div>
                          </div>

                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Nomor Telepon
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="text" name="phoneNumber" id="phone-number">
                              <div class="validation-error hidden">
                                Input nomor telepon tidak valid
                              </div>
                            </div>
                          </div>


                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Jumlah Pinjaman
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="text" name="loanAmount" id="loan-amount" class="mask-money">
                              <div class="validation-error hidden">
                                Input jumlah pinjaman tidak valid
                              </div>
                            </div>
                          </div>

                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Uang Muka<span>(Down Payment)</span>
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="text" name="downPayment" id="down-payment" class="mask-money">
                              <div class="validation-error hidden">
                                Input uang muka tidak valid
                              </div>
                            </div>
                          </div>


                          <div class="cermati-row margin-bottom-10">
                            <div class="cermati-col-md-3 cermati-col-sm-4 cermati-col-xs-12 text-right xs-text-left">
                              Tenor<span>(Lama Pinjaman)</span>
                            </div>
                            <div class="cermati-col-md-9 cermati-col-sm-8 cermati-col-xs-12">
                              <input type="hidden" name="tenureUnit" value="year">
                              <select id="tenure" name="tenure">
                                <option value="">-- Silahkan Pilih --</option>
                                <option value="1">1 Tahun</option>
                                <option value="2">2 Tahun</option>
                                <option value="3">3 Tahun</option>
                                <option value="4">4 Tahun</option>
                              </select>
                              <div class="validation-error hidden">
                                Input tenor tidak valid
                              </div>
                            </div>
                          </div>

                          <div class="cermati-row margin-bottom-10 text-right">
                            <div class="cermati-col-xs-12">
                              <div class="spinner no-margin text-right" id="form-loading" style="padding-right: 45px;">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                              </div>
                              <input type="submit" value="Kirim" class="btn" id="form-submit" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div id="complete-form-wrapper" class="hidden"></div>
                </div>

                <div class="cermati-row hidden" id="thankyou-box">
                  <div class="info-container text-center cermati-col-lg-offset-2 cermati-col-md-offset-1 cermati-col-lg-8 cermati-col-md-10 cermati-col-sm-12">
                    <h2>Terima Kasih</h2>
                    <p>Customer Service kami akan menghubungi Anda untuk mengkonfirmasi aplikasi Anda dan menjawab pertanyaan yang Anda miliki.</p>
                  </div>
                </div>
              </div>
              <div id="tab-persyaratan">
                asdasdsadad
              </div>
              <div id="tab-fitur">
                asdasdsadad
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/html" id='simulation-table-template'>

      <% _.each(items, function(item){ %>
      <tr>
        <% _.each(item, function (v) { %>
        <td><%= v %></td>
        <% }) %>
      </tr>
      <% }) %>

    </script>
    <script type="text/javascript" src="dist/js/vendors.js"></script>
    <script type="text/javascript" src="dist/js/main.js"></script>
  </body>
</html>
